<h1>Мои коллективы</h1>

<div id="groups" style="display: flex; flex-wrap: wrap;">
  <% @groups.each do |group| %>
    <div class="card" style="width: 18rem; margin: 10px;">
      <div class="card-body">
        <h5 class="card-title"> <%= group.title %> </h5>
        <p class="card-text"> <%= group.description %> </p>
        <a href="#" class="card-link"><%= link_to "Показать эту группу", group %></a>
      </div>
    </div>
  <% end %>
</div>
