<h1>Мои коллективы</h1>

<div id="wishes">
  <% @groups.each do |group| %>
    <div class="wish-card">
      <div class="wish-details">
        <div class="wish-title"><%= group.title %></div>
        <div class="wish-description"><%= group.description %></div>
      </div>
      <a href="<%= group_path(group) %>" class="wish-link">Подробнее</a>
    </div>
  <% end %>
</div>