/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar-text-right {
  justify-content: right;
}

.group_buttons{
  margin-bottom: 15px;
}

.card {
  display: flex;
}





/* страница пользователей */

.user-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  flex: 1;
}

h2 {
  font-size: 20px;
  margin: 5px 0;
}


.delete-button-container {
  margin-right: 10px;
}

.delete-button {
  background-color: #FF5555; /* Цвет фона кнопки удаления */
  color: #fff; /* Цвет текста на кнопке */
  padding: 5px 10px; /* Отступы вокруг текста на кнопке */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #FF3333; /* Цвет фона кнопки при наведении */
}


/* кнопка инвайта */
.invite-button {
  display: inline-block;
  background-color: #007BFF; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста */
  padding: 10px 20px; /* Отступы вокруг текста */
  border: none; /* Убрать границу кнопки */
  border-radius: 5px; /* Скругленные углы */
  text-decoration: none; /* Убрать подчеркивание */
  font-size: 16px; /* Размер шрифта */
  cursor: pointer; /* Изменить курсор при наведении */
  transition: background-color 0.3s, color 0.3s; /* Плавное изменение цвета фона и текста при наведении */
}

.invite-button:hover {
  background-color: #0056b3; /* Новый цвет фона при наведении */
  color: #fff; /* Новый цвет текста при наведении */
}

/* страница информации о группе */
/* styles.css */

/* styles.css */

/* styles.css */

.group-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.group-avatar {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.group-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-title {
  font-size: 24px;
  margin: 10px 0;
}

.group-description {
  color: #777;
  margin: 10px 0;
}

.admin-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.edit-group-button, .destroy-group-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.destroy-group-button {
  background-color: #FF5555; /* Красный цвет для кнопки "Удалить группу" */
  color: #fff;
}

.edit-group-button {
  background-color: #FFD700; /* Желтый цвет для кнопки "Редактировать" */
  color: #000;
}

.edit-group-button:hover, .destroy-group-button:hover {
  background-color: #0033ff; /* Изменение цвета при наведении */
}


/* home */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: calc(100vh - 66px);
}

.home_bttn {
  width: 400px;
  aspect-ratio: 1 / 1;
  &:nth-child(2) {
    margin-left: -200px;
  }
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* app/assets/stylesheets/wishes.css */

.form-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.field {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

.text-field {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.date-field {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.password-field {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.file-field {
  margin-top: 8px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
.delete-account-button {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-account-button:hover {
  background-color: #bd2130;
}
.link-button {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.link-button:hover {
  color: #0056b3;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.back-to-link {
  display: inline-block;
  margin-bottom: 20px; /* Добавим отступ снизу */
  padding: 10px 15px;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.back-to-link:hover {
  background-color: #218838;
}


/* buttons devise */
/* Общие стили для кнопок */
.button {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

/* Кнопка для входа */
.button.login-button {
  background-color: #3498db;
  color: #fff;
}

/* Кнопка для регистрации */
.button.register-button {
  background-color: #2ecc71;
  color: #fff;
}

/* Кнопка для восстановления пароля */
.button.forgot-password-button {
  background-color: #e74c3c;
  color: #fff;
}

/* Кнопка для повторной отправки подтверждения профиля */
.button.resend-confirmation-button {
  background-color: #f39c12;
  color: #fff;
}

/* Кнопка для инструкций по разблокировке */
.button.unlock-instructions-button {
  background-color: #9b59b6;
  color: #fff;
}

/* Кнопка для входа через соцсети */
.button.omniauth-button {
  background-color: #34495e;
  color: #fff;
}


/*страница пользователя */
/* assets/stylesheets/users/show.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}


h1 {
  text-align: center;
  margin-top: 20px;
}

hr {
  border: 1px solid #ddd;
  margin: 20px 0;
}

/* assets/stylesheets/users.css */

.user-show-container {
  text-align: center;
}

.user-details {
  margin-bottom: 20px;
}


#wishes {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
}

.wish-card {
  width: calc(25% - 20px); /* 20px - маржин между карточками */
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.wish-details {
  padding: 10px;
}

.wish-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.wish-description {
  margin-top: 10px;
}

.wish-link {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-top: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.wish-link:hover {
  background-color: #0056b3;
  color: #fff;
}

/*пригласить человека*/
.group-container {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 20px;
  width: 300px; /* Ширина формы */
  margin: auto; /* Центрирование */
  margin-top: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.select-field,
.submit-button {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;

}

/* .submit-button {
  background-color: #4CAF50;
  color: white;
}

.select-field:hover,
.submit-button:hover {
  background-color: #22c813;
} */
